@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #6b6375;
  --bg: #fff;

  font: 18px/145% system-ui, 'Segoe UI', Roboto, sans-serif;
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --bg: #16171d;
  }
}

#root {
  width: 100%;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

h1 {
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    margin: 20px 0;
  }
}
